<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Kanban" connectionString="Data Source=LAPTOP-RT5CO4QQ\SQL2014;Initial Catalog=Kanban;Persist Security Info=True;User ID=sa;Password=sa" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>