*, :after, :before {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #c1b1e9;
    font-size: 14px;
}

main {
    padding: 1rem;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input {
    padding: 8px 12px;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: #000;
}

a {
    text-decoration: none;
    color: var(--color-text-link);
}

a:hover {
    text-decoration: underline;
}

/***************************
    FORM
****************************/
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12, col-sm-12, col-md-12, col-lg-12, col-xl-12 {
    width: 100%;
    padding: 0 0.2rem;
}

.form-group {
    margin-bottom: .8rem;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
}

.form-group .form-check {
    display: flex;
    /*align-items: center;*/
    cursor: pointer;
}

.form-group .form-control {
    width: 100%;
}

.input-group {
    display: grid;
    grid-template-columns: 100% 0;
    align-items: center;
}

.input-group input, .input-group .form-control {
    padding-right: 1.5rem;
} 

.input-group .icon-group {
    position: relative;
    left: -1.5rem;
}

.btn-block {
    width: 100%;
}

/***************************
    LOGIN
****************************/
.container-login .acciones-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-login .form-auth {
    width: 350px;
}

.container-login .form-auth, .container-register .form-register {
    padding: 1.6rem;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    margin: 9rem auto 0;
    background-color: #fff;
}

.form-auth .call-register, .form-register .call-auth-login {
    padding: 1rem;
    text-align: center;
}

button[data-action] {
    margin-top: 1rem;
    background-color: #000; /*#213458*/
    color: #fff;
}

button[data-action]:hover {
    background-color: var(--color-black-hover);
}

button[data-action]:active {
    background-color: var(--color-black);
}

/***************************
    REGISTRO
****************************/
.container-register .form-register {
    width: 570px;
}

/***************************
    MESSAGE
****************************/
.message-slide {
    display: flex;
    background-color: aliceblue;
    padding: 1.4rem;
    align-items: center;
    justify-content: center;
    transition: top 1.5s ease;
    position: relative;
    top: -5rem;
}

.message-slide.top {

}

/***************************
    MEDIAS QUERY
****************************/
/* MIN - WIDTH */
@media screen and (min-width: 0px) {
    /*
        FORM
    */
    .col-12 {
        width: 100%;
    }

    .col-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-6 {
        width: calc((6 * 100%) / 12);
    }

    .col-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-4 {
        width: calc((4 * 100%) / 12);
    }

    .col-3 {
        width: calc((3 * 100%) / 12);
    }

    .col-2 {
        width: calc((2 * 100%) / 12);
    }

    .col-1 {
        width: calc((1 * 100%) / 12);
    }
}

@media screen and (min-width: 576px) {
    /*
        FORM
    */
    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-sm-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-sm-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-sm-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-sm-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-sm-6 {
        width: calc((6 * 100%) / 12);
    }

    .col-sm-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-sm-4 {
        width: calc((4 * 100%) / 12);
    }

    .col-sm-3 {
        width: calc((3 * 100%) / 12);
    }

    .col-sm-2 {
        width: calc((2 * 100%) / 12);
    }

    .col-sm-1 {
        width: calc((1 * 100%) / 12);
    }
}

@media screen and (min-width: 768px) {
    /*
        FORM
    */
    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-md-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-md-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-md-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-md-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-md-6 {
        width: calc((6 * 100%) / 12);
    }

    .col-md-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-md-4 {
        width: calc((4 * 100%) / 12);
    }

    .col-md-3 {
        width: calc((3 * 100%) / 12);
    }

    .col-md-2 {
        width: calc((2 * 100%) / 12);
    }

    .col-md-1 {
        width: calc((1 * 100%) / 12);
    }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}

/* MAX - WIDTH */
@media screen and (max-width: 576px) {
    .container-login, .container-register {
        /*padding: 0 1rem;*/
    }

    .container-login .form-auth, .container-register .form-register {
        width: auto;
        margin-top: 3rem;
    }
}
