/*
    RECOMENDACIONES ICONS MATERIAL DESING

    color
    .material-icons.orange600 { color: #FB8C00; }

    enabled - disabled
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

    -----------------------------------------

    Para las variables de CSS que tienen valores de los tamaños y colores de etiquetas.
*/

:root {
    --color-primary: #c1b1e9;
    --color-primary-2: #af93f6;
    --color-text-link: #58a6ff;
    --color-white: #FFF;
    --color-default: #ccc;
    --color-danger: #dc3545;
    --color-success: #198754;
    --color-warning: #ffc107;
    --color-black: #000;
    --color-black-hover: #343434;
}

/*size icons*/
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}
